<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Helpdesk Student Worker</h3>
            <div class="subheading mb-3">Arcadia University </div>
            <p>Serviced hundreds of users on campus fixing any technology problems that would arise in a college setting.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2017 - 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Networking Student Worker</h3>
            <div class="subheading mb-3">Arcadia University</div>
            <p>Worked with the network engineers on campus to troubleshoot/upgrade network issues.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2019 - Present</span>
          </div>
        </div>
        

      </div>

    </section>